.container
{
    max-width: 90%;
    margin: auto;
}
.header1
{
    background-color: deepskyblue;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
}
.logo1
{
    display: flex;
    align-items: center;
}
.logo1 i{
    font-size: 50px;
}

.search
{
    align-content: center;
}
.search input{
    width: 350px;
    line-height: 30px;
    border-radius: 15px;
    border: none;
    background-color: darkgrey;
    padding-left: 30px;
}
.icon{
    position: relative;
}
.trai
{
    position: absolute;
    left: 5px;
    top:50%;
    transform:translateY(-50%)
}
.phai
{
    position: absolute;
    right: 5px;
    top:50%;
    transform:translateY(-50%)
}
.giohang {
    display: flex;
    flex-direction: column; 
    align-items: center;
    font-size: 25px;
}
.dangnhap{
    display: flex;
    flex-direction: column; 
    align-items: center;
    font-size: 25px;
}
.right ul li a i{
    text-decoration: none;

}
.right ul
{
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding-right: 30px;
}

.header2{
    display: flex;
    padding-left: 30px;
    background-color: aliceblue;
    align-items: center;
}
.menu ul{
    list-style-type: none;
}
.menu ul li a{
    text-decoration: none;
    padding-left: 100px;
    padding-right: 100px;
}

.ten1 h3{
    margin-bottom: 50px;
}
.content img{
    height: 100%;
    width:100%;
}
.button{
    display: flex;
    justify-content: space-between;
    gap:20px;
    flex-wrap: wrap;
    margin-top: 5%;
}
.button img{
    width: 250px;
    height: 300px;
}
.book{
    position: relative;
}
.book button {
  position: absolute;
  bottom: 310px;            
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
  padding: 4px 10px;
  border-radius: 15px;
  width: 80px;
  height: 40px;
  border: none
}
.ten2 h2{
    margin-bottom: 20px;
}
.book button:hover {
  background-color: beige;
  color: black;
}
.footer{
    background-color: black;
    display: flex;
    padding-right: 30px;
    padding-left: 30px;
    justify-content: space-between;
}
.menu3 {
    color: aliceblue;
    display: flex;
    font-size: 20px;
    gap:120px
}
.content{
    background-color: grey;
}
.ten3{
    margin-right: 20%;
}